<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- fragment chứa form -->
<div th:fragment="form">
    <form th:object="${item}" method="post">
        <input type="text" th:field="*{id}" placeholder="Category Id?" required />
        <input type="text" th:field="*{name}" placeholder="Category Name?" required />
        <hr>
        <button type="submit" formaction="/category/create">Create</button>
        <button type="submit" formaction="/category/update">Update</button>
        <a th:href="@{|/category/delete/${item.id}|}">Delete</a>
        <a th:href="@{/category/index}">Reset</a>
    </form>
</div>
</html>
