<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bài 3,4</title>
</head>
<body>
<h2>Nhập sản phẩm</h2>
<form action="/product/save" method="post">
    <input name="name" placeholder="Tên sản phẩm">
    <input name="price" placeholder="Giá" type="number" step="0.01">
    <button>Save</button>
</form>

<hr>

<h3>Sản phẩm mặc định (p1)</h3>
<ul>
    <li>Tên sản phẩm: <span th:text="${p1.name}"></span></li>
    <li>Giá sản phẩm: <span th:text="${p1.price}"></span></li>
</ul>

<h3>Sản phẩm vừa nhập (p2) (save)</h3>
<ul th:if="${p2 != null}">
    <li>Tên sản phẩm: <span th:text="${p2.name}"></span></li>
    <li>Giá sản phẩm: <span th:text="${p2.price}"></span></li>
</ul>
<p th:if="${p2 == null}">Chưa có sản phẩm nào được nhập.</p>

<h3>Danh sách sản phẩm (theo trang)</h3>
<table>
    <tr>
        <th>Tên sản phẩm</th>
        <th>Giá</th>
    </tr>
    <tr th:each="item : ${items}">
        <td th:text="${item.name}"></td>
        <td th:text="${item.price}"></td>
    </tr>
</table>

<!--phân trang -->
<div style="margin-top: 10px;">
    <a th:if="${currentPage > 0}"
       th:href="@{/product/form(page=${currentPage-1}, size=5)}">Trang trước</a>

    <span>Trang [[${currentPage+1}]] / [[${totalPages}]]</span>

    <a th:if="${currentPage < totalPages-1}"
       th:href="@{/product/form(page=${currentPage+1}, size=5)}">Trang sau</a>
</div>

</body>
</html>
